h1{
    color: aquamarine;
    font-size: 50px;
    text-align: center;
}
h3{
    color: cornflowerblue;
    font-size: 25px;
    text-align: center;
}
p{
    color: chartreuse;
    font-size: 20px;
    text-align: center;

}